.wrapper{
  width: 800px;
  margin: 0 auto;
}

.navigation{
  background-color: rgb(3, 3, 133);
}

.navigation__list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navigation__link {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
}

.navigation__link:hover{
  background-color: #fff;
  color: rgb(3, 3, 133);
}

.header__title {
  color: rgb(8, 8, 99);
  font-size: 30px;
}

.header__logo{
  display: block;
  max-width: 100%;
}

.section__title {
  color: rgb(89, 89, 201);
  font-size: 20px;
}

.section__image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.section__description {
  font-size: 15px;
}

.article__title {
  color: rgb(19, 19, 170);
  font-size: 28px;
}

.article__subtitle {
  color: rgb(19, 19, 170);
  font-size: 22px;
}

.article__description {
  font-size: 15px;
}

.article__item {
  font-size: 15px;
}

.section__link,
.article__link {
  text-decoration: none;
  color: rgb(25, 25, 128);
  font-weight: 700;
}

.article--italic {
  color: rgb(25, 25, 128);
}

.article--bold {
  color: rgb(25, 25, 128);
}

@media (min-width: 768px){
  .navigation{
    background-color: rgb(3, 3, 133);
  }
  
  .navigation__list {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  .navigation__link {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
  }
  
  .navigation__link:hover{
    background-color: #fff;
    color: rgb(3, 3, 133);
  }
}