.wrapper{
  width: 800px;
  margin: 0 auto;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__item {
  margin-left: 30px;
}

.nav__link {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: rgb(88, 86, 86);
}

.header__title {
  color: rgb(8, 8, 99);
  font-size: 35px;
}

.section__title {
  color: rgb(89, 89, 201);
  font-size: 20px;
}

.section__image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.section__description {
  font-size: 15px;
}

.article__title {
  color: rgb(19, 19, 170);
  font-size: 28px;
}

.article__subtitle {
  color: rgb(19, 19, 170);
  font-size: 22px;
}

.article__description {
  font-size: 15px;
}

.article__item {
  font-size: 15px;
}

.section__link,
.article__link {
  text-decoration: none;
  color: rgb(25, 25, 128);
  font-weight: 700;
}

.article--italic {
  color: rgb(25, 25, 128);
}

.article--bold {
  color: rgb(25, 25, 128);
}
